:root {
  /* ----- Color Scheme ----- */
  --primary-white: #fefefe;
  --secondary-white: #eee;
  --primary-black: #010101;
  --primary-red: #b10c00;

  /* ----- Transition Speed ----- */
  --ui-anim: all 0.3s ease-in-out;
}

/* ----- Text Functions ----- */
h1 {
  font-size: 48px;
}
h2 {
  margin: 6px 0;
  font-size: 36px;
}
h3 {
  margin: 12px 0;
  font-size: 24px;
}
p {
  margin: 18px 0;
  font-size: 18px;
}

/* ----- Link Functions ----- */
a {
  color: inherit;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  transition: var(--ui-anim);
}
a:hover {
  color: var(--primary-red);
}

/* ----- Button Functions ----- */
button.cta-btn {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: var(--primary-white);
  color: var(--primary-black);
  font-weight: 600;
  border-radius: 6px;
  border: 2px solid var(--primary-black);
  transition: var(--ui-anim);
}
button.cta-btn:hover {
  background: var(--primary-black);
  color: var(--primary-white);
  border-radius: 32px;
  border: 2px solid var(--primary-red);
}

/* ----- Grid Outline ----- */
.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  text-align: center;
}

/* Main Content Properties */
section,
header,
footer {
  padding: 24px;
  border-bottom: 2px solid var(--primary-red);
}

@media screen and (min-width: 450px) {
}
