/* Importing CSS files for performance & visual appeal */
@import url(./componenets.css);
@import url(./pages/index.css);

@font-face {
  font-family: Questrial;
  src: url(../fonts/Questrial-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--secondary-white);
  color: var(--primary-black);
  font-family: Questrial, "Times New Roman", serif;
  font-size: 18px;
  z-index: 1;
}

/* ========== HEADER PROPERTIES ========== */
header {
  padding: 18px 24px;
  background: var(--primary-white);
  color: var(--primary-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav > a {
  margin: 0 6px;
}

header > .group > a > img {
  max-height: 20px;
  transition: var(--ui-anim);
}
header > .group > a.cart-btn > img {
  scale: 1.2;
}
header > .group > a.hamburger {
  display: none;
}

/* Navigation Drop Down Links */
.dropbtn,
header > .container > a {
  padding: 18px 6px;
}
header > .container > a > img {
  margin-left: -6px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  min-width: 120px;
  background: var(--primary-white);
  color: var(--primary-black);
  position: absolute;
  top: 36px;
  left: 0;
  display: none;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px;
  text-decoration: none;
  display: block;
  border: 2px solid var(--primary-black);
  transition: var(--ui-anim);
}
.dropdown-content a:hover {
  background: var(--primary-black);
  color: var(--primary-white);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Navigation Overlay */
.mobileNav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: var(--secondary-black);
  overflow-x: hidden;
  transition: var(--ui-anim);
}

.mobileNav-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.mobileNav a {
  padding: 12px;
  color: var(--secondary-white);
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: var(--ui-anim);
}
.mobileNav a:hover,
.mobileNav a:focus {
  color: var(--primary-red);
  scale: 1.2;
}

.mobileNav .closebtn {
  position: absolute;
  top: 12px;
  right: 24px;
  font-size: 60px;
}
.mobileNav .closebtn:hover {
  scale: 1.2;
}

/* ========== FOOTER PROPERTIES ========== */
footer {
  grid-template-columns: repeat(3, 1fr);
}

footer > .container,
footer > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
footer > .container > a {
  margin: 6px 0;
}

/* ========== MOBILE COMPATIBILITY ========== */
@media screen and (max-width: 480px) {
  /* Hide Native Navigation Icons on Mobile & Spacing For Cart Icon */
  header > nav {
    display: none;
  }
  header > .group > a.cart-btn {
    display: none;
  }
  header > .group > a.hamburger {
    display: flex;
  }
}
